<div class="container-edit-schedule">
  <form
    [formGroup]="editScheduleForm"
    (submit)="submitSchedule()"
    class="form-schedule"
  >
    <div class="container-left">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
    </div>

    <div class="container-right">
      <mat-form-field>
        <mat-label>Customer</mat-label>
        <mat-select formControlName="customer">
          @for (customer of customers; track customer) {
          <mat-option [value]="customer">{{ customer.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Employee</mat-label>
        <mat-select formControlName="employee">
          @for (employee of employees; track employee) {
          <mat-option [value]="employee">{{ employee.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pick a start time</mat-label>
        <input
          formControlName="startAt"
          matInput
          [matTimepicker]="startTimepicker"
        />
        <mat-timepicker-toggle matIconSuffix [for]="startTimepicker" />
        <mat-timepicker #startTimepicker />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pick an end time</mat-label>
        <input
          formControlName="endAt"
          matInput
          [matTimepicker]="endTimepicker"
        />
        <mat-timepicker-toggle matIconSuffix [for]="endTimepicker" />
        <mat-timepicker #endTimepicker />
      </mat-form-field>
      <div class="form-button">
        <button [routerLink]="['']" mat-stroked-button>Cancel</button>
        <button type="submit" mat-flat-button>
          {{ id ? "Update" : "Add" }}
        </button>
      </div>
    </div>
  </form>
</div>
