.container-edit-schedule
    width: 75%
    height: 50vh
    margin: auto
    display: flex
    flex-direction: row
    gap: 50px

    .container-right
        width: 65%
        display: flex
        flex-direction: column
        align-items: center

        *
            width: 100%

    .container-left
        width: 35%
        *
            width: 100%

    .form-button
        display: flex
        justify-content: center

        button
            width: 100px
            