<div class="container-menu">
  <button
    mat-button
    routerLinkActive="active"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button
    mat-button
    routerLinkActive="active"
    routerLink="customers"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Customers
  </button>
  <button
    mat-button
    routerLinkActive="active"
    routerLink="schedule"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Schedule
  </button>
</div>
